<% layout('/layout/boilerplate.ejs') -%>

 <body>
    <h1 class="text-center my-4">Welcome Back Wonderlust</h1>
    <form action="/login" method="POST"  class="needs-validation">
    <div class="row">
    <div class="col-8 offset-2">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" name="username" class="form-control"  required>
             <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="row">
            <div class="mb-3 ">
            <label for="password" class="form-label">password</label>
            <input type="password" name="password" class="form-control" required >
             <div class="invalid-feedback">Please provide a password</div>
        </div>
       <button type="submit" class="btn btn-primary">Login</button>
        <br><br>
    </form>
    </div>
    </div>
    </body>